@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-liora-burgundy: #68000a;
  --color-liora-gold: #e7c355;
  --color-liora-offwhite: #fcfafa;
  --font-sans: "DM Sans", sans-serif;
}

@layer base {
  body {
    @apply bg-white text-gray-900 font-sans antialiased;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply tracking-tight font-bold;
  }
}
